/*OG1*/
img.OG1LeaderCircleLeft
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-14px;
    margin-left:1px;
    transform:rotate(6deg);
}
img.OG1LeaderCircleRight
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-14px;
    margin-left:1px;
    transform:rotate(6deg);
}
.OG1f1CircleLeft
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-19px;
    margin-left:-45px;
    transform:rotate(136deg);
}
.OG1f2CircleLeft
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-19px;
    margin-left:-45px;
    transform:rotate(94deg);
}
.OG1f1CircleRight
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-21px;
    margin-left:-68px;
    transform:rotate(-80deg);
}
.OG1f2CircleRight
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-19px;
    margin-left:-67px;
    transform:rotate(308deg);
}
img.OG1BothFollowersCircleRight
{
    opacity:0;
    height:145px;
    width:100px;
    position:absolute;
    z-index:-1;
    margin-top:-24px;
    margin-left:-34px;
    margin-right:-20px;
    transform:rotate(5deg);
}
/*ARROWS*/
/*YOUAREHERE*/
.OG1f1YAH
{
    opacity:0;
    margin-top:-67px;
    margin-left:-17px;
    height:60px;
    width:75px;
    position:absolute;
    transform:rotate(1deg);
}
.OG1f1YAHT
{
    opacity:0;
    font-weight:800;
    font-family:cursive;
    font-size:18px;
    margin-top:-125px;
    margin-left:-57px;
    position:absolute;
}
.OG1f2YAH
{
    opacity:0;
    margin-top:26px;
    margin-left:33px;
    height:73px;
    width:75px;
    position:absolute;
    transform:rotate(311deg);
}
.OG1f2YAHT
{
    opacity:0;
    font-weight:800;
    font-family:cursive;
    font-size:18px;
    margin-top:28px;
    margin-left:22px;
    position:absolute;
}
.OG1l1YAH
{
    opacity:0;
    margin-top:61px;
    margin-left:0px;
    height:73px;
    width:75px;
    position:absolute;
    transform:rotate(180deg);
}
.OG1l1YAHT
{
    opacity:0;
    font-weight:800;
    font-family:cursive;
    font-size:18px;
    margin-top:70px;
    margin-left:29px;
    position:absolute;
}
.OG1l1CALCYAH
{
    opacity: 1;
    margin-top: 152px;
    margin-left: 47px;
    height: 73px;
    width: 75px;
    position: absolute;
    transform: rotate(154deg);
}
.OG1l1CALCYAHT
{
    opacity: 1;
    font-weight: 800;
    font-family: cursive;
    font-size: 18px;
    margin-top: 174px;
    margin-left: -1px;
    position: absolute;
}
/*OG1 RESULTS*/
img.OG1TopLeaderResultIconsCircle
{
    transform:rotate(-45deg);
    opacity:0;
    height:100px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-23px;
    margin-left:-33px;
}
img.OG1BottomLeaderResultIconsCircle
{
    transform:rotate(-45deg);
    opacity:0;
    height:100px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:13px;
    margin-left:-33px;
}
/*IG*/
/*CIRCLES*/
img.IGTopLeftCircle
{
    opacity:0;
    height:84px;
    width:105px;
    position:absolute;
    z-index:-1;
    margin-top:-72px;
    margin-left:-55px;
    transform:rotate(191deg);
}
img.IGTopRightCircle
{
    opacity:0;
    height:84px;
    width:105px;
    position:absolute;
    z-index:-1;
    margin-top:-72px;
    margin-left:-55px;
    transform:rotate(191deg);
}
img.IGBottomLeftCircle
{
    opacity:0;
    height:75px;
    width:120px;
    position:absolute;
    z-index:-1;
    margin-top:-13px;
    margin-left:-77px;
    transform:rotate(206deg);
}
img.IGBottomRightCircle
{
    opacity:0;
    height:75px;
    width:120px;
    position:absolute;
    z-index:-1;
    margin-top:-13px;
    margin-left:-77px;
    transform:rotate(206deg);
}
/*ARROWS*/
.IGf1YAH
{
    z-index:3;
    opacity:0;
    margin-top:-45px;
    margin-left:-90px;
    height:73px;
    width:75px;
    position:absolute;
    transform:rotate(238deg);
}
.IGf1YAHT
{
    opacity:0;
    font-weight:800;
    font-family:cursive;
    font-size:18px;
    margin-top:-50px;
    margin-left:-235px;
    position:absolute;
}
.IGf2YAH
{
    opacity:0;
    margin-top:-45px;
    margin-left:14px;
    height:73px;
    width:75px;
    position:absolute;
    transform:rotate(127deg);
}
.IGf2YAHT
{
    opacity:0;
    font-weight:800;
    font-family:cursive;
    font-size:18px;
    margin-top:-44px;
    margin-left:-17px;
    position:absolute;
}
/*----*/
.IGCircleArrowLeft_f1
{
    opacity:0;
    position:absolute;
    z-index:1;
    /* margin-left:-33px; */
    margin-top:0px;
    height:40px;
    width:40px;
    /* transform:rotate(207deg); */

    transform: rotate(241deg);
    margin-left: -48px;
}

.IGCircleArrowTextLeft_f1
{
    opacity:0;
    position:absolute;
    z-index:1;
    /* margin-left:-57px; */
    /* margin-top:-19px; */
    font-size:23px;

    margin-top: -4px;
    margin-left: -100px;
}
.IGCircleArrowLeft_f2
{
    opacity:0;
    position:absolute;
    z-index:1;
    /* margin-left:-33px; */
    margin-top:0px;
    height:40px;
    width:40px;
    /* transform:rotate(207deg); */
    transform: rotate(230deg);
    margin-left: -43px;
}

.IGCircleArrowTextLeft_f2
{
    opacity:0;
    position:absolute;
    z-index:1;
    /* margin-left:-57px; */
    /* margin-top:-19px; */
    font-size:23px;
    margin-left: -102px;
    margin-top: -5px
}
/*OG2*/
/*CIRCLES*/
img.OG2BothFollowersCircleRight
{
    opacity:0;
    height:145px;
    width:100px;
    position:absolute;
    z-index:-1;
    margin-top:-24px;
    margin-left:-34px;
    margin-right:-20px;
    transform:rotate(5deg);
}
img.OG2BothFollowersCircleRightArrow
{
    opacity:0;
    height:40px;
    width:40px;
    position:absolute;
    z-index:1;
    margin-left:-24px;
    margin-top:110px;
}
.OG2BothFollowersCircleRightText
{
    opacity:0;
    position:absolute;
    margin-top:79px;
    margin-left:-233px;
    font-size:21px;
}
/*----------------*/
img.OG2LeaderCircleLeft
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-14px;
    margin-left:1px;
    transform:rotate(6deg);
}
img.OG2LeaderCircleRight
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-14px;
    margin-left:1px;
    transform:rotate(6deg);
}
.OG2f1CircleLeft
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-19px;
    margin-left:-45px;
    transform:rotate(136deg);
}
.OG2f2CircleLeft
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-19px;
    margin-left:-45px;
    transform:rotate(94deg);
}
.OG2f1CircleRight
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-21px;
    margin-left:-68px;
    transform:rotate(-80deg);
}
.OG2f2CircleRight
{
    opacity:0;
    height:90px;
    width:140px;
    position:absolute;
    z-index:-1;
    margin-top:-19px;
    margin-left:-67px;
    transform:rotate(308deg);
}
/*ARROWS AND TEXTS*/
/*YOUAREHERE*/
.OG2f1YAH
{
    opacity:0;
    margin-top:-67px;
    margin-left:-17px;
    height:60px;
    width:75px;
    position:absolute;
    transform:rotate(1deg);
}
.OG2f1YAHT
{
    opacity:0;
    font-weight:800;
    font-family:cursive;
    font-size:18px;
    margin-top:-125px;
    margin-left:-57px;
    position:absolute;
}
.OG2f2YAH
{
    opacity:0;
    margin-top:26px;
    margin-left:33px;
    height:73px;
    width:75px;
    position:absolute;
    transform:rotate(137deg);
}
.OG2f2YAHT
{
    opacity:0;
    font-weight:800;
    font-family:cursive;
    font-size:18px;
    margin-top:28px;
    margin-left:22px;
    position:absolute;
}
.OG2l1YAH
{
    opacity:0;
    margin-top:61px;
    margin-left:0px;
    height:73px;
    width:75px;
    position:absolute;
    transform:rotate(180deg);
}
.OG2l1YAHT
{
    opacity:0;
    font-weight:800;
    font-family:cursive;
    font-size:18px;
    margin-top:70px;
    margin-left:29px;
    position:absolute;
}

.OG2CircleArrowLeft_f1
{
    opacity:0;
    position:absolute;
    z-index:1;
    /* margin-left:67px; */
    /* margin-top:-38px; */
    /* height:80px; */
    width:80px;
    /* transform:rotate(225deg); */
    /***/
    transform: rotate(-77deg);
    margin-top: 34px;
    margin-left: 62px;
    height: 96px;

}

.OG2CircleArrowTextLeft_f1
{
    opacity:0;
    position:absolute;
    z-index:1;
    /* margin-left:94px; */
    /* margin-top:-43px; */
    font-size:23px;

    margin-top: 81px;
    margin-left: -5px;

}

.OG2CircleArrowLeft_f2
{
    opacity:0;
    position:absolute;
    z-index:1;
    /* margin-left:65px; */
    /* margin-top:17px; */
    height:55px;
    width:55px;
    /* transform:rotate(140deg); */
    margin-left: 28px;
    margin-top: 54px;
    transform: rotate(173deg);
}

.OG2CircleArrowTextLeft_f2
{
    opacity:0;
    position:absolute;
    z-index:1;
    /* margin-left:85px; */
    /* margin-top:-49px; */
    font-size:23px;
    margin-left: 42px;
    margin-top: 31px;
}

/*IS THIS PART USED*/
.OG2f2CircleArrow
{
    opacity:0;
    position:absolute;
    z-index:1;
    margin-left:30px;
    margin-top:-17px;
    height:50px;
    width:50px;
}
.OG2f2CircleArrowText
{
    opacity:0;
    position:absolute;
    z-index:1;
    margin-left:30px;
    margin-top:-17px;
}
/*------------------*/

img.winnerLeaderArrowLeft
{
    opacity:0;
    height:60px;
    width:60px;
    position:absolute;
    z-index:1;
    margin-left:73px;
    margin-top:72px;
    transform:rotate(363deg);
}
.winnerLeaderTextLeft
{
    opacity:0;
    position: absolute;
    margin-top:61px;
    margin-left:278px;
    font-size:23px;
}
img.winnerLeaderArrowRight
{
    opacity:0;
    height:60px;
    width:60px;
    position:absolute;
    z-index:1;
    margin-left:-26px;
    margin-top:72px;
    transform: rotate(-8deg);
}
.winnerLeaderTextRight
{
    opacity:0;
    position: absolute;
    margin-top:63px;
    margin-left:-275px;
    font-size:23px;
}
