.specialBoxWrap {
    margin-top: 135px;
}
.specialButton
{
    width:205px;
    margin-top:35px;

}
.bottomMapWrap
{
    transform:scale(0.7);
    transition:1s;
    margin-top:-97px;
    opacity:0;
}
