.greenbox
{
    transition:0.35s;
    margin-left: 5px;
    margin-right: 5px;
    padding:5px;
    border: 8px solid rgb(35,79,30);
}
.redbox
{
    transition:0.35s;
    margin-left: 5px;
    margin-right: 5px;
    padding-right:20px;
    padding-left:5px;
    border: 6px solid red;
}
.bluetext
{
    font-weight:500;
    color:blue;
}
.redtext
{
    font-weight:500;
    color:red;
}
.redc
{
    color:red;
    font-weight:600;
    font-size:50px;
    margin-left:10px;
    margin-right:10px;
}
.redunerline
{
    border-bottom:2px solid red;
}
/***/
.calculator
{
    display:none;
}
/***/
.explanationtext
{
    font-size: 28px;
    font-weight:100;
    width:1050px;
    margin-bottom:10px;
    margin-top:-25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding:25px;
    background-color: lavender;
    box-shadow:0px 5px 5px 5px;
}
.bwrap
{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -25px;
    margin-bottom: -25px;
    margin-top: -50px;
    padding-bottom:10px;
    padding-right:10px;
}
.cb
{
    transition:0.35s;
    box-shadow:0px 2px 2px 2px black;
    background-color: black;
    color: white;
    width:60px;
    height:40px;
    font-size:25px;
    font-weight:800;
    padding-bottom:40px;
    border:none;
    outline:none;
}

.cb:active
{
    border:none;
    outline:none;
    box-shadow: 0px 1px 1px 1px black;
    transform: translateY(2px);
}
/***/
.b1
{
    transition:0.35s;
}
.bb1
{
    transition:1s;
    transition-delay:2s;
    z-index:-100;
    opacity:0;
}
.b2
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb2
{
    transition:1s;
    transition-delay:8s;
    z-index:-100;
    opacity:0;
}
.b3
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb3
{
    transition:1s;
    transition-delay:4s;
    z-index:-100;
    opacity:0;
}
.b4
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb4
{
    transition:1s;
    transition-delay:5s;
    z-index:-100;
    opacity:0;
}
.b5
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb5
{
    transition:1s;
    transition-delay:7s;
    z-index:-100;
    opacity:0;
}
.b61
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb61
{
    transition:1s;
    transition-delay:5s;
    z-index:-100;
    opacity:0;
}
.b62
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb62
{
    transition:1s;
    transition-delay:3s;
    z-index:-100;
    opacity:0;
}
.b63
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb63
{
    transition:1s;
    transition-delay:3s;
    z-index:-100;
    opacity:0;
}
.b7
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb7
{
    transition:1s;
    transition-delay:4s;
    z-index:-100;
    opacity:0;
}
.b81
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb81
{
    transition:1s;
    transition-delay:6s;
    z-index:-100;
    opacity:0;
}
.b82
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb82
{
    transition:1s;
    transition-delay:6s;
    z-index:-100;
    opacity:0;
}
.b83
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb83
{
    transition:1s;
    transition-delay:6s;
    z-index:-100;
    opacity:0;
}
.b84
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb84
{
    transition:1s;
    transition-delay:6s;
    z-index:-100;
    opacity:0;
}
.b85
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb85
{
    transition:1s;
    transition-delay:6s;
    z-index:-100;
    opacity:0;
}

.b9
{
    position:absolute;
    opacity: 0;
    transition:0.35s;
    transition-delay:0.35s;
}
.bb9
{
    transition:1s;
    transition-delay:3s;
    z-index:-100;
    opacity:0;
}
/****/
.yourdecisionbox
{
    background-color:white;
    border:10px solid rgb(35,79,30);
    padding:5px;
    margin-right:8px;
    margin-left:8px;
}
.f2decisionbox
{
    background-color:white;
    border:10px solid black;
    padding:5px;
    margin-right:8px;
}
.opponentsdecisionbox
{
    background-color:white;
    border:10px solid rgb(225,225,225);
    padding:5px;
    margin-right:8px;
}
.leaderdecisionbox
{
    display:flex;
    margin-bottom:-38px;
    width:68px;
    margin-left:-87px;
    background-color:white;
    border:10px solid black;
    padding:5px;
    margin-right:8px;
}
.oleaderdecisionbox
{
    display:flex;
    width:68px;
    margin-bottom:-40px;
    margin-left:76px;
    border:10px solid rgb(225,225,225);
    padding:5px;
    margin-right:8px;
}
