.initialIwIndex1
{
    transition-delay:0s;
    transition:0.2;
}
.initialIwIndex2
{
    transition-delay:1s;
    transition:0.2;
}
.iwIndex1
{
    transition-delay:0.2s;
    transition:0.2s;
}
.iwIndex1
{
    transition-delay:1.2s;
    transition:0.2s;
}
