/*MAP MANIPULATIONS*/
.b1
{
    opacity:0;
}
.b2
{
    opacity:0;
}
.b3
{
    opacity:0;
}
.w34
{
    opacity:0;
}
.l34
{
    opacity:0;
}
.b4
{
    opacity:0;
}
.b5
{
    opacity:0;
}
.b6
{
    opacity:0;
}
.x1a2
{
    opacity:0;
}
.x2a3
{
    opacity:0;
}
.x3al
{
    opacity:0;
}
.x3aw
{
    opacity:0;
}
.la4
{
    opacity:0;
}
.wa5
{
    opacity:0;
}
.x4a5
{
    opacity:0;
}
.x5a6
{
    opacity:0;
}
