/*ICONS*/
img.OG2ficon
{
    filter: drop-shadow(0px 3px 2px black);
    height:50px;
    width:30px;
    z-index:1;
    position:absolute;
}
img.OG2ficonLime
{
    height:50px;
    width:30px;
    position:absolute;
    opacity:0;
    z-index:1;
    filter: drop-shadow(0px 3px 2px black);
}
img.OG2OldLeaderTopLeft
{
    filter: drop-shadow(0px 3px 2px black);
    transition:0s;
    height:50px;
    width:30px;
    position:absolute;
    opacity:1;
    z-index:1;
}
img.OG2OldLeaderTopLimeLeft
{
    transition:0s;
    height:50px;
    width:30px;
    position:absolute;
    opacity:0;
    z-index:1;
    filter: drop-shadow(0px 3px 2px black);
}
img.OG2OldLeaderBottomLeft
{
    filter: drop-shadow(0px 3px 2px black);
    transition:0s;
    height:50px;
    width:30px;
    position:absolute;
    opacity:1;
    z-index:1;
}
img.OG2OldLeaderBottomLimeLeft
{
    transition:0s;
    height:50px;
    width:30px;
    position:absolute;
    opacity:0;
    z-index:1;
    filter: drop-shadow(0px 3px 2px black);
}
img.OG2OldLeaderTopRight
{
    filter: drop-shadow(0px 3px 2px black);
    transition:0s;
    height:50px;
    width:30px;
    position:absolute;
    opacity:1;
    z-index:1;
}
img.OG2OldLeaderTopLimeRight
{
    filter: drop-shadow(0px 3px 2px black);
    transition:0s;
    height:50px;
    width:30px;
    position:absolute;
    opacity:0;
    z-index:1;
    filter: drop-shadow(0px 3px 2px black);
}
img.OG2OldLeaderBottomRight
{
    filter: drop-shadow(0px 3px 2px black);
    transition:0s;
    height:50px;
    width:30px;
    position:absolute;
    opacity:1;
    z-index:1;
}
img.OG2OldLeaderBottomLimeRight
{
    transition:0s;
    height:50px;
    width:30px;
    position:absolute;
    opacity:0;
    z-index:1;
    filter: drop-shadow(0px 3px 2px black);
}
img.OG2LeaderKingLeft
{
    filter: drop-shadow(0px 3px 2px black);
    height:60px;
    width:48px;
    z-index:1;
    opacity:1;
    /* position:absolute; */
}
img.newLeaderKingLeft
{
    filter: drop-shadow(0px 3px 2px black);
    opacity: 1;
    height:60px;
    width:48px;
    z-index:1;
    position:absolute;
}
img.OG2LeaderKingRight
{
    filter: drop-shadow(0px 3px 2px black);
    opacity: 1;
    height:60px;
    width:48px;
    z-index:1;
    /* position:absolute; */
}
img.newLeaderKingRight
{
    filter: drop-shadow(0px 3px 2px black);
    height:60px;
    width:48px;
    z-index:1;
    opacity:1;
    position:absolute;
}
img.OG2FightIcon
{
    filter: drop-shadow(0px 2px 1px black);
    height:25px;
    width:25px;
}
img.OG2FightIconLime
{
    filter: drop-shadow(0px 2px 1px black);
    height:25px;
    width:25px;
    position:absolute;
    opacity:0;
}
/*SECTION*/
.section3
{
    position:absolute;
    background-color:white;
    height:130px;
    width:281px;
    z-index:1;
}
.section3Text
{
    color:red;
    font-weight:700;
    font-size:140px;
    margin-top:-47px;
}
/*OTHER CLASSES*/
.OG2
{
    display:flex;
    flex-direction:column;

    box-shadow:0 0 8px 3px black;

    padding-left:11px;
    padding-right:5px;

    border:4px double black;
    border-radius:15px;

    height:139px;

    margin-top:41px;
}
.OG2Title
{
    font-size:22px;
    font-weight:400;
    margin-top:-41px;
    margin-bottom:6px;
    text-align:center;
    color:black;
}
.OG2IconsWrap
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top:-15px;
    margin-right:-8px;
}
/*OG1 FOLLOWERS*/
.OG2FollowersWrapLeft
{
    margin-top:20px;
    display:flex;
    flex-direction:column;
}
.OG2FollowersWrapRight
{
    margin-top:20px;
    display:flex;
    flex-direction:column;
}
.OG2FollowerImgWrap
{
    display:flex;
    flex-direction:column;
    width:45px;
    transition:0s;
}
.OG2TopFollower
{
    margin-top:-5px;
    margin-bottom:55px;
}

.OG2FollowerArrowsLeft
{
    height:160px;
    width:60px;
    margin-top:-16px;
    margin-right:-12px;
    margin-left:-37px;
}
.OG2FollowerArrowsRight
{
    height:160px;
    width:60px;
    margin-top:-16px;
    margin-right:-22px;
    margin-left:-32px;
}
.arrowDashedlime2
{
    stroke:lime;
    stroke-width:1;
    stroke-dasharray:5,5;
    marker-end:url(#markerArrowMapLime);
    opacity: 0;
    transition: 0s;
}
/*OG2 LEADERS*/
.OG2LeadersIcon
{
    display:flex;
    flex-direction:row;
    height:75px;
    margin-top:-2px;
    margin-left:-1px;
}
.OG2LeaderLeft
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:100px;
    height:200px
}
.OG2LeaderRight
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:100px;
    height:200px
}
.subOG2L
{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.subsubOG2L
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    border:dashed 2px gray;

    border-radius: 150px;
    padding:5px;
    margin-top:-64px;
    margin-left:-21px;
    background-color: #d3d3d378;
}
.OG2FightIconWrap
{
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:50px;
    height:200px;
    margin-left:-28px;
    margin-right:-31px;
    margin-top:-32px;
}
.OG2GroupSeparator
{
    height:0px;
    margin-left:11px;
    margin-top:5px;
    border-left:2px solid white;
    box-shadow: 0 0 6px 4px black;
    position:absolute;
    opacity:0;
}
/*opacity initiations*/
.og2f1Leader
{
    opacity:0;
}
.og2f1LeaderLime
{
    opacity:0;
}
.og2f2
{
    opacity:0;
}
.og2f2Lime
{
    opacity:0;
}
.og2f2Leader
{
    opacity:1;
}
