.payoffWrap
{
    z-index:-1;
    opacity:0;
    transition:1s;
    margin-bottom:-23px;
    margin-top:2px;
    display:flex;
    flex-direction:row;
    justify-content: start;
    margin-left:-28px;
}
/*COMMON TO BOTH SIDES*/
.c1
{
    opacity:1;
}
.c2
{
    opacity:1;
}
.topText
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom:dashed 1px black;
    padding-bottom:5px;
}
.bottomText
{
    margin-top:5px;
    display:flex;
    flex-direction:row;
}
.sideColumn
{
    font-weight:400;
    padding-top: 0px;
    padding-right: 5px;
    /* padding-left: 13px; */
    display: flex;
    flex-direction: column;
    text-align: right;
}
.titleRow
{
    margin-bottom:0px;
}
.resultRow
{
    margin-bottom:-16px;
    display: flex;
    flex-direction: row;
}
/*LEFT COLUMN*/
.tableLeft
{
    margin-left:52px;
    font-size:20px;
    display: flex;
    flex-direction: column;
}
.resultLeft
{
    width:345px;
    margin-left:17px;
    margin-right:-2px;
    margin-bottom:2px;
    box-shadow:0px 1px 4px 0px black;
    background-color:rgb(50, 50, 50);
    color:white;
    font-weight:100;
    font-size:24px;
}
.pTextLeft
{
    display:flex;
    flex-direction:column;
    padding-left:21px;
    font-weight:100;
    font-size:20px;
}
.mainColumnLeft
{
    padding-left: 45px;
    display:flex;
    flex-direction: column;
}
/*RIGHT COLUMN*/
.tableRight
{
    margin-left:198px;
    font-size:20px;
    display: flex;
    flex-direction: column;
}
.pTextRight
{
    display:flex;
    flex-direction:column;
    padding-left:28px;
    font-weight:100;
    font-size:20px;
}
.mainColumnRight
{
    padding-left: 45px;
    display:flex;
    flex-direction: column;
}
.resultRight
{
    width:345px;
    margin-left:29px;
    margin-right:3px;
    margin-bottom:2px;
    box-shadow:0px 1px 4px 0px black;
    background-color:rgb(210, 210, 210);
    color:white;
    font-weight:100;
    font-size:24px;
}
