.sexplain
{
    opacity:1;
}
.sbox
{
    opacity:1;
    border:4px solid #56564a;
}
.dbox {
    border-style: double;
}
.discardedBox
{
    margin-top:10px;
    opacity:0;
}
.acceptedBox
{
    margin-bottom:10px;
    height:60px;
    width:100px;
    border-style:double;
    border-radius:15px;

}
.OG1
{

    padding-left:11px;
    padding-right:5px;
    margin-left:-11px;
    border:4px double transparent;
    border-radius:15px;
}
.someboxwrap
{
    display:flex;
    flex-direction:row;
}
.ogtitle
{
    font-size:20px;
    font-weight:100;
    margin-top:-28px;
    margin-bottom:-16px;
    text-align:center;
    color:rgb(68, 68, 60);
}
.IG
{
    display:flex;
    flex-direction:row;
    padding:5px;
}
.igtitle
{
    font-size:20px;
    font-weight:100;
    margin-top:-28px;
    margin-bottom:-16px;
    text-align:center;
    color:rgb(68, 68, 60);
}
.igtext
{
    font-size:17px;
    margin-top:2px;
    padding-top:11px;
    padding-bottom:14px;
}
.modifications2
{
    font-weight:100;
    margin-left:-5px;
    font-size:20px;
    margin-top:-17px;
    color:#8a8a77;
}
.modifications3
{
    margin-top:-25px;
}
.OG2
{
    display:flex;
    flex-direction:column;
    padding-left:12px;
    padding-right:10px;
    margin-left:-8px;
    border:double 4px transparent;
    border-radius:15px;
}
.stageboxtextTopF
{
    margin-top:-29px;
    margin-bottom:-16px;
    margin-left:-12px;
    font-size: 19px;
    text-align: center;
    color: orange;
    font-weight:400;
}
.stageboxtextTopL
{
    margin-top:-29px;
    margin-bottom:-16px;
    margin-left:-2px;
    font-size: 19px;
    text-align: center;
    color: purple;
    font-weight:400;
}
.s3s6extra
{
    padding-bottom:9px;
    padding-top:9px;
    font-size:17px;
}
.curvyarrow2bold
{
    fill:transparent;
    stroke:purple;
    stroke-width:3;
    stroke-dasharray:5,5;
    marker-end:url(#markerArrowblue);
    opacity: 0;
    transition: 0.35s;
}
.curvyarrow1bold
{
    fill:transparent;
    stroke:orange;
    stroke-width:3;
    marker-end:url(#markerArroworange);
    opacity: 0;
    transition: 0.35s;
}
.curvyarrow3bold
{
    fill:transparent;
    stroke:url(#grad1);
    stroke-width:3;
    stroke-dasharray:5,5;
    marker-end:url(#markerArroworange);
    opacity: 0;
    transition: 0.35s;
}
.cwa5text
{
    font-weight:100;
    font-size:20px;
}
.wa6text
{
    font-weight:100;
    font-size:20px;
}

.debug
{
    margin-top:50px;
    display:flex;
    justify-content: center;
flex-direction: row;
}
.debug2
{
    height: 40px;
    width: 60px;
    background-color:red;
    cursor:pointer;
    opacity:0.7;
    box-shadow: 0 6px black;
}
.debug2:hover
{
    opacity:1;
}
.debug2:active
{
    box-shadow: 0 2px black;
    transform: translateY(2px);
}
.discardx
{
    position:absolute;
    font-size:180px;
    background-color:transparent;
    color:red;
    margin-bottom:113px;
    margin-left:10px;
    font-weight:400;
    z-index:1;
    opacity:0.5;
}
.b1
{
    margin-top:10px;
}
.x12
{
    margin-top:7px;
}
.unknownresult
{
    position:absolute;
    color:red;
    font-size:150px;
    opacity:0.7;
    z-index:1;
    margin-left:8px;
}
