.sinfo
{
    margin-top:30px;
    box-shadow: 0px 2px 8px 0px black;
    padding-right:30px;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;
}
.instructions
{
    box-shadow: 0px 2px 8px 0px black;
    margin-bottom:75px;
    margin-top:75px;
    padding-top:25px;
    padding-bottom:25px;
    font-size:35px;
    font-weight:100;
}
.sinfotitle
{

}
.sinfotext
{

}
.limited2
{
    width:988px;
    height:142px;
    font-size:22px;
    font-weight:100;
}
