.horizontalSliderExample
{
    margin-left: -50px;
    transition:0.5s;
    transform:scale(0);
    display:none;
    flex-direction:row;
    justify-content: center;
    opacity:0;
}
.verticalSliderExample
{
    transition:0.5s;
    /* margin-top:20px; */
    margin-left:-50px;
    display:none;
    opacity:0;
    margin-top: -300px
}
/*INDICATOR ARROWS*/
img.redArrowImage1
{
    height:109px;
    width:80px;
}


.IG_sliderArrowImageWrap_l1
{
    position:absolute;
    transform:rotate(321deg);
    transition:1s;
    margin-left:48px;
    margin-top:-8px;
}
.IG_sliderArrowImageWrap_l2
{
    position:absolute;
    transform:rotate(321deg);
    transition:1s;
    margin-left:48px;
    margin-top:-8px;
}


.sliderArrowImageWrap_l1
{
    position:absolute;
    transform:rotate(321deg);
    transition:1s;
    margin-left:48px;
    margin-top:-8px;
}
.sliderArrowImageWrap_l2
{
    position:absolute;
    transform:rotate(321deg);
    transition:1s;
    margin-left:48px;
    margin-top:-8px;
}
.sliderArrowImageWrap_f1
{
    position:absolute;
    transform:rotate(321deg);
    transition:1s;
    margin-left:-1px;
    margin-top:-107px;
}
.sliderArrowImageWrap_f2
{
    position:absolute;
    transform:rotate(321deg);
    transition:1s;
    margin-left:-1px;
    margin-top:-107px;
}
.sliderArrowImageWrap_of1
{
    position:absolute;
    transform:rotate(321deg);
    transition:1s;
    margin-left:-1px;
    margin-top:-107px;
}
.sliderArrowImageWrap_of2
{
    position:absolute;
    transform:rotate(321deg);
    transition:1s;
    margin-left:-1px;
    margin-top:-107px;
}


/*ADDITIONAL POINTER*/

.spinButtonTop_arrowLeft
{
    position: absolute;
    transform: rotate(269deg);
    transition: 1s;
    margin-left: 131px;
    margin-top: 266px;
    z-index:-10;
}

.spinButtonTop_arrowRight
{
    position: absolute;
    transform: rotate(89deg);
    transition: 1s;
    margin-left: 238px;
    margin-top: 266px;
    z-index:-10;
}

.spinButtonBottom_arrowLeft
{
    position: absolute;
    transform: rotate(269deg);
    transition: 1s;
    margin-left: 407px;
    margin-top: -16px;
    z-index: -10;
}

.spinButtonBottom_arrowRight
{
    position: absolute;
    transform: rotate(89deg);
    transition: 1s;
    margin-left: 515px;
    margin-top: -56px;
    z-index: -10;
}


/*REVOLVING qUESTION MARKS*/
.IG_sliderQuestion_l1
{
    opacity:0;
    color:red;
    position:absolute;
    transition:8s;
    font-size:40px;
    margin-left:270px;
    margin-top:-15px;
    transition:8s;
    transform:rotateY(90deg);
    font-weight:100;
    font-size:56px;
}
.IG_sliderQuestion_l2
{
    opacity:0;
    color:red;
    position:absolute;
    transition:8s;
    font-size:40px;
    margin-left:27px;
    margin-top:-15px;
    transition:8s;
    transform:rotateY(90deg);
    font-weight:100;
    font-size:56px;
}


.sliderQuestion_l1
{
    opacity:0;
    color:red;
    position:absolute;
    transition:8s;
    font-size:40px;
    margin-left:270px;
    margin-top:-15px;
    transition:8s;
    transform:rotateY(90deg);
    font-weight:100;
    font-size:56px;
}
.sliderQuestion_l2
{
    opacity:0;
    color:red;
    position:absolute;
    transition:8s;
    font-size:40px;
    margin-left:270px;
    margin-top:-15px;
    transition:8s;
    transform:rotateY(90deg);
    font-weight:100;
    font-size:56px;
}
.sliderQuestion_f1
{
    opacity:0;
    color:red;
    position:absolute;
    transition:8s;
    font-size:40px;
    margin-left:7px;
    margin-top:-189px;
    transition:8s;
    transform:rotateY(90deg);
    font-weight:100;
    font-size:56px;
}
.sliderQuestion_f2
{
    opacity:0;
    color:red;
    position:absolute;
    transition:8s;
    font-size:40px;
    margin-left:7px;
    margin-top:-189px;
    transition:8s;
    transform:rotateY(90deg);
    font-weight:100;
    font-size:56px;
}
.sliderQuestion_of1
{
    opacity:0;
    color:red;
    position:absolute;
    transition:8s;
    font-size:40px;
    margin-left:7px;
    margin-top:-189px;
    transition:8s;
    transform:rotateY(90deg);
    font-weight:100;
    font-size:56px;
}
.sliderQuestion_of2
{
    opacity:0;
    color:red;
    position:absolute;
    transition:8s;
    font-size:40px;
    margin-left:7px;
    margin-top:-189px;
    transition:8s;
    transform:rotateY(90deg);
    font-weight:100;
    font-size:56px;
}



/*LOCKS*/
.IG_lockedCover_l1
{
    opacity:0;
    z-index:-1;
    position: absolute;
    height:140px;
    width:405px;
}
.IG_lockedCover_l2
{
    opacity:0;
    z-index:-1;
    position: absolute;
    height:140px;
    width:405px;
}



.lockedCover_l1
{
    opacity:0;
    z-index:-1;
    position: absolute;
    height:140px;
    width:405px;
}
.lockedCover_l2
{
    opacity:0;
    z-index:-1;
    position: absolute;
    height:140px;
    width:405px;
}
.lockedImageRed2
{
    transition:0.15s;
    height:20px;
    width:20px;
    margin-top:19px;
    margin-right:341px;
}

.lockedCover_f1
{
    z-index:-1;
    position: absolute;
    height: 308px;
    width: 115px;
    margin-top: 32px
}
.f1vex
{
    z-index:-1;
    position: absolute;
    height: 308px;
    width: 115px;
    margin-top: 12px;
    margin-left:-44px;
}
.lockedCover_f2
{
    z-index:-1;
    position: absolute;
    height: 308px;
    width: 115px;
    margin-top: 32px
}
.lockedCover_of1
{
    z-index:-1;
    position: absolute;
    height: 308px;
    width: 115px;
    margin-top: 32px
}
.lockedCover_of2
{
    z-index:-1;
    position: absolute;
    height: 308px;
    width: 115px;
    margin-top: 32px
}
.lockedImageRed
{
    transition:0.15s;
    height:20px;
    width:20px;
    margin-top:38px;
    margin-right:61px;
}
.f1vex
{
    margin-top: 12px;
}
