/*DECISION SLIDER MAY NOT BE USED*/
.dSliderF
{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    transition: 0.35s;
    width: 950px;
    background: gray;
    margin-top: 35px;
    /* margin-top: 50px;
    background:lime; */
    margin-left:-15px;
    height: 5px;
}
.dSliderF:focus
{
    outline: none;
}
.dSliderF:hover
{
    opacity:1;
    margin-top: 50px;
    background:lime;
}
.dSliderF::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 75px;
    background: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.35s;
    margin-top: -1px;
}
.dSliderF::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 75px;
    background: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.35s;
    margin-top: -1px;
}

.dSliderF:hover::-webkit-slider-thumb
{
    opacity: 1;
    color:lime;
    background-color: lime;
    background: lime;
    height: 70px;
    margin-top: 0px;
}
.dSliderF:hover::-moz-range-thumb
{
    opacity: 1;
    color:lime;
    background-color: lime;
    background: lime;
    height: 70px;
    margin-top: 0px;
}
/*LEADER DECISION SLIDER*/
.dSliderL
{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    transition: 0.35s;
    width: 950px;
    background: gray;
    margin-top: 35px;
    margin-left:-15px;
    height: 5px;
}
.dSliderL:focus
{
    outline: none;
}
.dSliderL:hover
{
    opacity:1;
    margin-top: 50px;
    background:lime;
}
.dSliderL::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 75px;
    background: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.35s;
    margin-top: -1px;
}
.dSliderL::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 75px;
    background: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.35s;
    margin-top: -1px;
}

.dSliderL:hover::-webkit-slider-thumb
{
    opacity: 1;
    color:lime;
    background-color: lime;
    background: lime;
    height: 70px;
    margin-top: 0px;
}
.dSliderL:hover::-moz-range-thumb
{
    opacity: 1;
    color:lime;
    background-color: lime;
    background: lime;
    height: 70px;
    margin-top: 0px;
}
