/*FOLLOWER DECISION SLIDER FOR HELP AND SABOTAGE*/
.dSliderF
{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    transition: 0.35s;
    width: 950px;
    background: gray;
    margin-top: 50px;
    /* margin-top: 50px;
    background:lime; */
    margin-left:-15px;
    height: 5px;
}
.dSliderF:focus
{
    outline: none;
}
.dSliderF:hover
{
    opacity:1;
    background:lime;
}
.dSliderF::-webkit-slider-thumb
{
    margin-top:-19px;
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 63px;
    background: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.35s;
}
.dSliderF::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 83px;
    background: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.35s;
    margin-top: -1px;
}

.dSliderF:hover::-webkit-slider-thumb
{
    opacity: 1;
    background: lime;
}
.dSliderF:hover::-moz-range-thumb
{
    opacity: 1;
    color:lime;
    background-color: lime;
    background: lime;
    height: 83px;
    margin-top: 0px;
}



/*LEADER DECISION SLIDER*/
.dSliderL
{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    transition: 0.35s;
    width: 950px;
    background: gray;
    margin-top: 50px;
    margin-left:-15px;
    height: 5px;
}
.dSliderL:focus
{
    outline: none;
}
.dSliderL:hover
{
    opacity:1;
    margin-top: 50px;
    background:lime;
}
.dSliderL::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 62px;
    background: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.35s;
    margin-top: -15px;
}
.dSliderL::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 83px;
    background: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.35s;
    margin-top: -1px;
}

.dSliderL:hover::-webkit-slider-thumb
{
    opacity: 1;
    color:lime;
    background-color: lime;
    background: lime;
}
.dSliderL:hover::-moz-range-thumb
{
    opacity: 1;
    color:lime;
    background-color: lime;
    background: lime;
    height: 83px;
    margin-top: 0px;
}



/*IG FOLLOWER DECISION SLIDER*/
.IG_dSliderL
{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    transition: 0.35s;
    width: 950px;
    background: gray;
    margin-top: 50px;
    margin-left:-15px;
    height: 5px;
}
.IG_dSliderL:focus
{
    outline: none;
}
.IG_dSliderL:hover
{
    opacity:1;
    margin-top: 50px;
    background:lime;
}
.IG_dSliderL::-webkit-slider-thumb
{
    z-index: 1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 75px;
    background: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.35s;
    margin-top: -20px;
}
.IG_dSliderL::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 83px;
    background: black;
    cursor: pointer;
    opacity: 0;
    transition: 0.35s;
    margin-top: -1px;
}

.IG_dSliderL:hover::-webkit-slider-thumb
{
    opacity: 1;
    background: lime;
}
.IG_dSliderL:hover::-moz-range-thumb
{
    opacity: 1;
    color:lime;
    background-color: lime;
    background: lime;
    height: 83px;
    margin-top: 0px;
}
