/**CONTEST SLIDER-BAR**/
.sliderBarL
{
    font-weight:500;
    display:flex;
    justify-content: center;
    margin-top:0px;
    margin-bottom:35px;
}
.pbar
{
    z-index:0;
    position: relative;
}
.pSlider
{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    transition: 0.35s;
    opacity: 0;
    margin-top: 35px;
    margin-left: -1px;
    width: 356px;
    height: 4px;
}
.pSlider:hover
{
    opacity:1;
    /* background-color: red; */
    background-color: lime;
    margin-top:51px;
}
.pSlider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    width: 4px;
    height: 56px;
    /* background: red; */
    background: lime;
    margin-top: 20px;
}
.pSlider::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    width: 4px;
    height: 56px;
    /* background: red; */
    background: lime;
    margin-top: 20px;
}
.pSlider:hover::-webkit-slider-thumb
{
    opacity:1;
    height: 56px;
    margin-top: -12px;
}
.pSlider:hover::-moz-range-thumb
{
    opacity:1;
    height: 58px;
    margin-top: -8px;
}
.pSlider:focus
{
    outline: none;
}
