/**FOLLOWERS SLIDER-BAR**/
.sliderBarF
{
    font-weight:500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:333px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bar
{
    z-index:0;
    position: relative;
}
.vertical
{
    z-index: 1;
    position: absolute;
    transform:rotate(270deg);
    height:15px;
    width: 303px;
    margin-left: -75px;
    /* margin-top: 17px; */
    /* the mt on top will be used if we do not use hove on minimize */
    margin-top:31px;
}
.slider
{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    opacity: 0;
    transition: 0.35s;
    height: 5px;
}
.slider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 45px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
}
.slider::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 45px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
}
.slider:focus
{
    outline: none;
}
.slider:hover
{
    opacity:1;
    margin-left: -66px;
    /* background: red; */
    background: lime;
}
.slider:hover::-webkit-slider-thumb
{

    /* background:red; */
    background:lime;
    margin-top: 0px;
    height: 70px;
}
.slider:hover::-moz-range-thumb
{
    margin-top: 0px;
    height: 55px;
}
.newnewSlider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 36px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    margin-top: -25px;
}
.newnewSlider::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 25px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    margin-top: -25px;
}

/*---- EXAMPLE VERTICAL SLIDER -----*/

.vertical2
{
    z-index: 1;
    position: absolute;
    transform:rotate(270deg);
    height:15px;
    width: 302px;
    margin-left: -62px;
    margin-top:0px;
}
.slider2
{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    opacity: 0;
    transition: 0.35s;
    height: 5px;
}
.slider2::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 45px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
}
.slider2::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 45px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
}
.slider2:focus
{
    outline: none;
}
.slider2:hover
{
    opacity:1;
    margin-left: -66px;
    background: lime;
}
.slider2:hover::-webkit-slider-thumb
{

    /* background:red; */
    background:lime;
    margin-top: 0px;
    height: 70px;
}
.slider2:hover::-moz-range-thumb
{
    margin-top: 0px;
    height: 55px;
}
