/*DECISION SLIDER MAY NOT BE USED*/
.dslider
{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    background: gray;
    opacity: 0;
    transition: 0.35s;
    width: 970px;
    margin-top: 35px;
    margin-left:0px;
    height: 5px;
}
.dslider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 31px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    margin-top: -1px;
}
.dslider::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 31px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    margin-top: -1px;
}
.dslider:focus
{
    outline: none;
}
.dslider:hover
{
    opacity:1;
    margin-top: 510px;
    background:red;
}
.dslider:hover::-webkit-slider-thumb
{
    color:red;
    background-color: red;
    background: red;
    height: 70px;
    margin-top: -2px;
}
.dslider:hover::-moz-range-thumb
{
    height: 55px;
    margin-top: 0px;
}
.newdSlider::-webkit-slider-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;

    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    margin-top: -1px;

    margin-top: -29px;
    height: 35px;
    width: 3px;
}
.newdSlider::-moz-range-thumb
{
    z-index:1;
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 31px;
    background: black;
    cursor: pointer;
    opacity: 1;
    transition: 0.35s;
    margin-top: -1px;
    margin-top: -22px;
    height: 24px;
    width: 3px;
}
