.hoverInfoWrap
{
    margin-left: -1115px;
    transform-origin: left bottom;
    transform: scale(0.85);
}
.norpBottomWrap {
    margin-left: -47px;
    margin-top: 150px;
    transform: scale(0.8);
}
