.welcomeTitle
{
    display: flex;
    font-size: 65px;
    font-weight: 100;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(0deg, rgb(30,30,30), rgb(210,210,210));
    width: 1000px;
    border-radius: 100px;
    color: rgb(40 40 40);
    margin-top: 35px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 11px 4px black;
    margin-left: 0px;
    transform:scaleY(0);
}
.title1
{
    display:flex;
}
.title2
{
    display:none;
}
.buttonIndicator
{
    opacity:0;
    position:absolute;
    right: 20px;
    top:-60px;
}
.buttonArrow
{
    height: 100px;
    width: 80px;
}
.buttonIndicator2
{
    opacity:0;
    position:absolute;
    left: 220px;
}
.buttonArrow2
{
    transform: rotate(-90deg);
    height: 175px;
    width: 85px;
}
/*--- INFO BOX ICON CLASSES ---*/
.someGrouping
{
    height: 77px;
    margin-top: 10px;
    margin-bottom:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.someGrouping1
{
    height: 77px;
    margin-top: 10px;
    margin-bottom:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.someGrouping2
{
    height: 77px;
    margin-top: 10px;
    margin-bottom:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.colorGroupABox
{
    padding-right: 30px;
    height: 30px;
    width: 65px;
    border: black 2px solid;
    background: rgb(50,50,50);
    /* margin-right: 10px; */
    margin-right: 10px;
}
.colorGroupBBox
{
    padding-right: 30px;
    height: 30px;
    width: 65px;
    border: black 2px solid;

    /* margin-right: 10px; */
    margin-right: 10px;
    background: rgb(180,180,180);
}
.B-10-icon-left
{
    height: 75px;
    width: 65px;
    position:relative;
}
.B-10-icon-right
{
    height: 75px;
    width: 45px;
    position:relative;
}
.B-11-lostLeaderIcon
{
    height: 75px;
    width: 45px;
    position:relative;
}
.B-11-lostCrown
{
    MARGIN-left: -145px;
    width: 32px;
    height: 32px;
    position: relative;
    margin-top: 43px;
}
.B-11-winnerFollowerIcon
{
    height: 75px;
    width: 55px;
    position:relative;
}
.bigslash1
{
    font-size: 81px;
    margin-left: -110px;
    /* font-weight: 800; */
    margin-top: -27px;
    margin-right: -105px;
}
.bigslash2
{
    font-size: 68px;
    margin-left: -110px;
    /* font-weight: 800; */
    margin-top: -20px;
    margin-right: -105px;
}
img.unevenLeft2
{
    height: 35px;
    width: 35px;
    /* margin-top: -85px; */
    opacity: 1;
    background: black;
    border-radius: 50px;
    padding: 5px;
    margin-right: 3px;
    margin-left: 3px;
}
/*------ CROWN ANIMATION -------*/
.crownSwitchAnimationWrap
{
    margin-top:-175px;
    margin-bottom:151px;
    display:none;
    flex-direction:row;
    justify-content: space-evenly;
    opacity:0;
}

.leaderCrown
{
    z-index: -1;
    width: 80px;
    height: 64px;
    position: absolute;
    opacity:1;
    margin-left:-182px;
    margin-top:-33px;
}
.myLeaderDenied
{
    height:65px;
    width:75px;
    position:absolute;
    opacity:0;
    margin-top:84px;
    margin-left:-76px;
}
.followerCrown
{
    z-index: -1;
    width: 80px;
    height: 64px;
    position: absolute;
    opacity:0;
    margin-left:-76px;
    margin-top:84px;
}

.leaderLosing
{
    margin-left:-181px;
    height:150px;
    width:90px;
    position:absolute;
}
.leaderLosing2
{
    margin-left:-181px;
    height:150px;
    width:90px;
    position:absolute;
}
.followerWinning
{
    margin-left:183px;
    opacity:0;
    height:150px;
    width:90px;
    position:absolute;
}
.followerWinning2
{
    margin-left:183px;
    opacity:0;
    height:150px;
    width:90px;
    position:absolute;
}

/*---- BANK SECTION ------*/
.currencyRelatedWrap
{
    display:none;
    flex-direction: row;
    /* display: flex; */
    justify-content: center;
    margin-bottom:-250px;

}
img.bankIcon
{
    height: 250px;
    width: 250px;
}
/*-----NETPAYOFF CIRCLES AND ARROWS-------*/

.initialBudgetCircle
{
    margin-top: 35px;
    height: 116px;
    width: 129px;
    position: absolute;
    transform: rotate(94deg);
    margin-left: -28px;
    opacity:0;
}
.initialBudgetArrow
{
    margin-top: 86px;
    height: 75px;
    width: 75px;
    position: absolute;
    transform: rotate(-45deg);
    margin-left: 53px;
    opacity:0;
}
.initialBudgetText
{
    height: 500px;
    width: 500px;
    position: absolute;
    /* margin-top: -39px; */
    margin-top: -36px;
    margin-left: -31px;
    font-size: 33px;
    font-weight: 600;
    opacity:0;
}
.netPayoffCircle
{
    height: 116px;
    width: 129px;
    position: absolute;
    transform: rotate(94deg);
    margin-left: 382px;
    margin-top: 33px;
    opacity:0;
}
.netPayoffArrow
{
    height: 75px;
    width: 75px;
    position: absolute;
    margin-top: 91px;
    margin-left: 445px;
    transform: rotate(-63deg);
    opacity:0;
}
.netPayoffText
{
    height: 500px;
    width: 500px;
    position: absolute;
    font-size: 33px;
    font-weight: 600;
    margin-top: 80px;
    margin-left: 452px;
    opacity:0;
}
.initialBudgetCircle2
{
    margin-top: 80px;
    height: 116px;
    width: 129px;
    position: absolute;
    transform: rotate(94deg);
    margin-left: -28px;
    opacity:0;

}
.initialBudgetArrow2
{
    margin-top: 136px;
    height: 75px;
    width: 75px;
    position: absolute;
    transform: rotate(-47deg);
    margin-left: 44px;
    opacity:0;
}
.initialBudgetText2
{
    height: 500px;
    width: 900px;
    position: absolute;
    margin-top: 5px;
    margin-left: -37px;
    font-size: 27px;
    font-weight: 600;
    opacity:0;
}
/*-----------*/
.tenTimesWrap
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    transform: scale(0.6);
    transform-origin: top;
}
.tenTimeText
{
    font-size: 47px;
    font-weight: 800;
    font-family: fantasy;
    position: absolute;
    margin-top: 69px;
    margin-left: -28px;
    opacity:0;
}
.tenTimes
{
    filter: drop-shadow(0px 2px 1px black) opacity(0.5);
    margin-left:-28px;
    margin-bottom: -27px;
    margin-top:-150px;
    opacity:0;
    display:none;
    height: 225px;
    width: 225px;
}
/*-----------*/
.wheelOfFortuneArrow
{
    margin-top: 59px;
    height: 100px;
    width: 100px;
    position: absolute;
    transform: rotate(61deg);
    margin-left: 150px;
    opacity:0;
}
.wheelOfFortuneText
{
    height: 500px;
    width: 900px;
    position: absolute;
    margin-top: -102px;
    margin-left: 92px;
    font-size: 26px;
    font-weight: 600;
    opacity:0;
}
.spinTheWheelButtonClass
{
    border-radius: 49px;
    padding-top: 12px;
    height: 120px;
    width: 179px;
    font-size: 33px;
}
/*-------------------*/
img.infoBoxFightIcon
{
    filter: drop-shadow(0px 2px 1px black);
    height: 40px;
    width: 40px;
    margin-top: -15px;
}
img.infoBoxFightIcon2
{
    filter: drop-shadow(0px 2px 1px black);
    height: 25px;
    width: 25px;
    margin-top: -6px;
    margin-left: 3px;
    margin-right: 3px;
}
.someTextWrapForSomeSmallBusiness
{
    margin-top: -3px;
    display: flex;
    justify-content: center;
    margin-left: 67px;
    opacity:0;
}
/*---------------*/
.leaderAuraInfoBox
{
    margin-right: 6px;
    padding-left: 5px;
    padding-top: 17px;
    background-color: #f5f5f5;
    border: dashed 2px #504c4c;
    border-radius: 150px;
    padding-bottom: 25px;
}
.infoLeaderIconFading
{
    height:60px;
    width:48px;
    filter: contrast(0.01) blur(1px) opacity(0.5);
}
/*--------------------*/
.leftSideStep1Text
{
    opacity: 0;
    box-shadow: 0px 4px 4px 0 black;
    margin-left: -240px;
    position: absolute;
    margin-top: 144px;
    font-size: 22px;
    color: white;
    font-weight: 500;
    background-color: rgb(38 78 46);
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    height: 45px;
    width: 46px;
}
.additionalStep1Class
{
    margin-top:-54px;
    margin-bottom:-5px;
    margin-left:56px;
    padding-left:18px;
}
.leftSideStep1Text-infoBox
{
    opacity: 1;
    box-shadow: 0px 0px 0px 0 black;
    margin-left: -240px;
    position: absolute;
    margin-top: 144px;
    font-size: 22px;
    color: white;
    font-weight: 500;
    background-color: rgb(38 78 46);
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    height: 45px;
    width: 46px;
    transform: scale(0.8);
}
.additionalStep1Class-infoBox
{
    margin-top:-54px;
    margin-bottom:-5px;
    margin-left:56px;
    padding-left:18px;
}
.middleStep2Text
{
    z-index: 1;
    opacity: 0;
    margin-left: -17px;
    margin-top: 144px;
    font-size: 22px;
    color: white;
    font-weight: 500;
    background-color: rgb(38 78 46);
    border-radius: 134px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: 43px;
    position: absolute;
    box-shadow: 0px 4px 4px 0 black;
    width: 42px;
}
.additionalStep2Class
{
    margin-left:77px;
    margin-top:17px;
}
.middleStep2Text-infoBox
{
    z-index: 1;
    opacity: 1;
    margin-left: -17px;
    margin-top: 144px;
    font-size: 22px;
    color: white;
    font-weight: 500;
    background-color: rgb(38 78 46);
    border-radius: 134px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: 43px;
    position: absolute;
    box-shadow: 0px 0px 0px 0 black;
    width: 42px;
    transform: scale(0.8);
}
.additionalStep2Class-infoBox
{
    margin-left:77px;
    margin-top:17px;
}
.rightSideStep1Text
{
    width: 45px;
    z-index: 1;
    opacity: 0;
    box-shadow: 0px 4px 4px 0 black;
    margin-left: 190px;
    margin-top: 142px;
    font-size: 22px;
    color: white;
    font-weight: 500;
    background-color: rgb(38 78 46);
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    height: 45px;
    position: absolute;
}
/*-----------*/
.anotherKingIcon1
{
    height:50px;
    width:50px;
    position:absolute;
}
.anotherKingIcon2
{
    height:50px;
    width:50px;
    position:absolute;
}
.anotherKingIcon3
{
    opacity:1;
    height:50px;
    width:50px;
}
/*--------------*/
.someWrapForKingIcons
{
    margin-top: -43px;
    margin-left: 135px;
    position: absolute;
}
/*-----------------*/
.equalitySign
{
    margin-top: -7px;
    font-weight: 800;
    font-size: 50px;
}
.inequalitySign
{
    margin-top: 5px;
    font-weight: 800;
    font-size: 50px;
}
.followerComparison11
{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.followerComparison12
{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.infoBoxFollowerIcon1
{
    height:70px;
    width:45px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:15px;
}
.infoBoxFollowerIcon2
{
    height:98px;
    width:65px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:15px;
}
.infoBoxFollowerIcon3
{
    height:56px;
    width:35px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:15px;
    margin-top:21px;
}
/*-------------------*/
.treatmentInfoBoxLeftHomo
{
    display:none;
}
.treatmentInfoBoxLeftHetero
{
    display:none;
}
.treatmentInfoBoxRightHomo
{
    display:none;
}
.treatmentInfoBoxRightHetero
{
    display:none;
}
/*-----------------------*/
.blackGroup1
{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.whiteGroup1
{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.noTokenLeftHomo
{
    display:none;
}
.noTokenLeftHetero
{
    display:none;
}
.noTokenRightHomo
{
    display:none;
}
.noTokenRightHetero
{
    display:none;
}
.noTokenRightHomo2
{
    display:none;
}
.noTokenRightHetero2
{
    display:none;
}
/*----------------------*/
 .iconAdjustmentInfoBox
 {
     margin-top:-12px;
     margin-left:40px;
 }
/*-----------------*/
.infoBoxLeaderDemoted
{
    height:50px;
    width:50px;
    margin-left:3px;
    margin-right:1px;
    margin-top:-13px;
}
.infoBoxNewLeader
{
    height:50px;
    width:50px;
    margin-left:-1px;
    margin-right:1px;
    margin-top:-13px;
}
.iconAdjustmentInfoBox2
{
    font-weight:700;
    margin-left:40px;
    margin-top:-12px;
}
.infoBoxFollowerIcon4
{
    height:79px;
    width:60px;
    margin-right:5px;
    margin-top:-19px;
}
/*-----------------------*/
.hsWrap
{
    filter:opacity(0);
}
.lockedIconInfoBox
{
    height:30px;
    width:30px;
    margin-top:-5px;
}
.tutorialCostArrowWrap31
{
    opacity:0;
    position:absolute;
    margin-left:-24px;
    margin-top:-300px;
}
.tutorialCostArrowWrap32
{
    opacity:0;
    position:absolute;
    margin-left:-24px;
    margin-top:-300px;
}
.tutorialCostArrowWrap33
{
    opacity:0;
    position:absolute;
    margin-left:-24px;
    margin-top:-300px;
}
.tutorialCostArrowWrap34
{
    opacity:0;
    position:absolute;
    margin-left:-24px;
    margin-top:-300px;
}
.tutorialCostArrow
{
    height:80px;
    width:80px;
    transform:rotate(-89deg);
}
.iconAdjustmentInfoBox3
{
    height:47px;
    width:41px;
    margin-top:4px;
    margin-bottom:9px;
    margin-left:-4px;
    margin-right:-4px;
}
.dynamicLeaderIconSizeWrap
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top:-4px;
    margin-bottom:6px;
    margin-left: 115px;
    height:0px;
    opacity:0;
}
.infoBoxFollowerIcon5
{
    height:70px;
    width:65px;
    /* margin-left:10px;
    margin-right:10px;
    margin-bottom:15px; */
}
.infoBox93FightIcon
{
    height:40px;
    width:40px;
    margin-left:25px;
    margin-right:25px;
    margin-top:5px;
}
.fightIconInfoBox93Wrap
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition:1s;
}
.leaderLeftInfoBox93Wrap
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition:1s;
}
.leaderRightInfoBox93Wrap
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition:1s;
}
.redArrowInfoBoxHS2_3
{
    height:70px;
    width:60px;
    margin-left:-8px;
    margin-right:-8px;
    transform:rotate(-90deg);
    margin-bottom:-31px;
    margin-top:-31px;
}
.dynamicPowerBarRepWrap
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-left: 115px;
    height:0px;
    opacity:0;
}
.leaderLeftBarInfoBoxWrap
{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.gapBetweenBarInfoBoxWrap
{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.leaderRightBarInfoBoxWrap
{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.leaderLeftBarInfoBox
{
    height:20px;
    width:100px;
    background-color: rgb(60,60,60);
}
.gapBetweenBarInfoBox
{
    height:20px;
    width:10px;
    background-color: white;
}
.leaderRightBarInfoBox
{
    height:20px;
    width:100px;
    background-color: rgb(190,190,190);
}
.middleStep2TextInfoBox
{
    z-index: 1;
    opacity: 1;
    margin-left: 444px;
    margin-top: -11px;
    font-size: 22px;
    color: white;
    font-weight: 500;
    background-color: rgb(38 78 46);
    border-radius: 134px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    height: 43px;
    position: absolute;
    /* box-shadow: 0px 4px 4px 0 black; */
    width: 42px
}
/*----------------------*/
.og1MoneyBagWrap1
{
    margin-top:17px;
    position:absolute;
    display:none;
    opacity:0;
    transition:0.7s;
}
.og1MoneyBagWrap2
{
    margin-left:175px;
    margin-top:17px;
    position:absolute;
    display:none;
    opacity:0;
    transition:0.7s;
}
.og2MoneyBagWrap1
{
    margin-top:17px;
    position:absolute;
    display:none;
    opacity:0;
    transition:0.7s;
}
.og2MoneyBagWrap2
{
    margin-left:175px;
    margin-top:17px;
    position:absolute;
    display:none;
    opacity:0;
    transition:0.7s;
}
.moneyBag
{
    transition:1s;
    height:100px;
    width:100px;
}
.bigCrownIcon
{
    transform:scale(0);
    height:86px;
    width:100px;
    opacity:1;
    transition:1s;
    position:absolute;
    margin-top:4px;
}
.igTopMoneyBagWrap1
{
    margin-top: -14px;
    margin-left: 17px;
    position:absolute;
    display:none;
    opacity:0;
    transition:0.7s;
}

.igBottomMoneyBagWrap1
{
    margin-top: -14px;
    margin-left: 17px;
    position:absolute;
    display:none;
    opacity:0;
    transition:0.7s;
}

.noMoney
{
    height:100px;
    width:100px;
}
.mBold
{
    font-weight:500;
}

/*-------------------------------*/
.OG2-201-icon
{
    margin-top: -4px;
    height: 50px;
    width: 29px;
    position: relative;
    padding-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
}
.OG2-601-icon
{
    margin-top: -4px;
    height: 55px;
    width: 42px;
    position: relative;
    padding-top: 0px;
    margin-left: -1px;
    margin-right: 1px;
}
.OG2-601-icon2
{
    margin-top: -4px;
    height: 51px;
    width: 30px;
    position: relative;
    padding-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
/*---------------*/
.fightLime-SE-13
{
    height:30px;
    width:30px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -3px;
}
.yourLeaderInfoBox
{
    height: 62px;
    width: 51px;
    margin-left: -4px;
    margin-right: -4px;
    margin-top: -9px;
}
.rColor
{
    color:#ec3c3c;
}
.bColor
{
    color:#2222ff;
}
/*-------------*/
.groupA-SE-17A1
{
    margin-top: -4px;
    height: 50px;
    width: 29px;
    position: relative;
    padding-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
}
.OG2-infoBox-Icon-1
{
    margin-top: -3px;
    height: 50px;
    width: 29px;
    position: relative;
    padding-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
}
.OG2-infoBox-Icon-2
{
    margin-top: -15px;
    height: 56px;
    width: 39px;
    position: relative;
    padding-top: 2px;
    margin-left: -3px;
    margin-right: -2px;
}
.OG2-infoBox-Icon-3
{
    margin-top: -4px;
    height: 51px;
    width: 30px;
    position: relative;
    padding-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
}
.moneyBagBoxP6
{
    height: 40px;
    width: 40px;
    margin-right: -1px;
    margin-left: 1px;
    margin-top: -19px;
}
/*----------------------*/
.moneyDistributionWrap
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top:6px; */
    margin-bottom:12px;
    transition:0.5s;
    /* height:0px; */
    opacity:0;
    margin-top:-100px;
}
.leaderMoneyDistribution
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.moneyBagsWrap
{
    display:flex;
    flex-direction: row;
}
.followerMoneyDistribution
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:32px;
    margin-top:-1px;
}
.OG2-infoBox-Icon-6011
{
    margin-top: 6px;
    height: 69px;
    width: 53px;
    position: relative;
    padding-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
}
.moneyBagBoxP601-1
{
    height: 40px;
    width: 40px;
    margin-right: -1px;
    margin-left: 1px;
    /* margin-top: -19px; */
}
.moneyBagBoxP601-2
{
    height: 40px;
    width: 40px;
    margin-right: -1px;
    margin-left: 1px;
    /* margin-top: -19px; */
}
.moneyBagBoxP601-3
{
    height: 40px;
    width: 40px;
    margin-right: -1px;
    margin-left: 1px;
    /* margin-top: -19px; */
}
.moneyBagBoxP601-4
{
    height: 40px;
    width: 40px;
    margin-right: -1px;
    margin-left: 1px;
    /* margin-top: -19px; */
}
.moneyBagBoxP601-5
{
    height: 40px;
    width: 40px;
    margin-right: -1px;
    margin-left: 1px;
    /* margin-top: -19px; */
}
.OG2-infoBox-Icon-6012
{
    margin-top: 12px;
    height: 61px;
    width: 35px;
    position: relative;
    padding-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
}
.moneyBagBoxP601-0
{
    height: 40px;
    width: 40px;
    margin-right: -1px;
    margin-left: 1px;
    margin-top: 33px;
}
.leaderTokenAmount
{
    font-size:25px;
    margin-top:75px;
    margin-left:41px;
    position:absolute;
}
.followerTokenAmount
{
    font-size: 25px;
    margin-top: 72px;
    margin-left: -17px;
    position: absolute;
}
.debugInfoBoxText
{
    position:absolute;
    opacity:1;
    font-size:25px;
    margin-left:-1222px;
}
.seInfoBox21IconHomo1
{
    height: 55px;
    width: 34px;
    margin-top: 7px;
    margin-bottom: 10px;
}
.seInfoBox21IconHetero1
{
    height: 50px;
    width: 32px;
    margin-top: 4px;
    margin-bottom: 5px;
}
.seInfoBox21IconHomo2
{
    height: 61px;
    width: 44px;
    margin-top: -4px;
    margin-bottom: 6px;
    margin-left: -6px;
    margin-right: -5px;
}
.seInfoBox21IconHetero2
{
    height: 58px;
    width: 43px;
    margin-top: -5px;
    margin-bottom: 4px;
    margin-left: -6px;
    margin-right: -4px;
}
.keyBoardImageWrap
{
    margin-left: 410px;
    margin-top: -82px;
    position:absolute;
}
.arrows
{
    height:85px;
    width:125px;
    /* position:absolute; */
}
.experimentalText
{
    /* filter: drop-shadow(0px 5px 3px black); */
    position: absolute;
    margin-top: -245px;
    font-size: 44px;
    font-weight: 400;
    margin-left: 307px;
    width: 520px;
}
.goodEnoughText
{
    opacity: 0;
    position: absolute;
    margin-top: 43px;
    margin-left: -180px;
    font-size: 23px;
    color: lime;
    font-weight: 600;
}
.perfectText
{
    opacity: 0;
    position: absolute;
    margin-top: 32px;
    margin-left: -163px;
    font-size: 37px;
    color: lime;
    font-weight: 600;
}
.keyBoardImageWrap2
{
    margin-left: 796px;
    margin-top: 3px;
    position:absolute;
}
.IG-infoBoxIcon-1
{
    margin-top: -5px;
    height: 50px;
    width: 32px;
    position: relative;
    padding-top: 2px;
    margin-left: 1px;
    margin-right: 0px;
}
.IG-infoBoxIcon-2
{
    margin-top: -15px;
    height: 58px;
    width: 43px;
    position: relative;
    padding-top: 2px;
    margin-left: -5px;
    margin-right: -3px;
}
.gorunmezBox
{
    background-color: transparent;
    justify-content: center;
    border-color: transparent;
    box-shadow: 0 0 transparent;
    margin-top: 20px;
}
.sonButton
{
    border-radius: 50px;
    width: 364px;
    font-weight: 400;
}
